body {
    font-family: Arial, sans-serif;
    background-color: #F5DEB3; 
    color: #4B3621; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #a06f40;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

h2, h3 {
    text-align: center;
    color: #FFD700;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #FFF8DC; 
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #825f3d;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #397c39b9; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #397c39b9; 
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #FFF8DC; 
}

thead {
    background-color: #8B5A2B; 
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #4B3621;
    text-align: left;
}

td button {
    margin: 0 5px;
}
